/*estilização geral*/
:root{
    --cor-link: #0d6efd;
    --bg-cinza: #FBF5F3;
    --violeta: #B4ADEA;
    --azul-escuro: #00487C;
    --amarelo: #FDE52A;
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    background-color: rgb(202, 131, 39) !important;
}

header{
    height: 12vh;
    background-color: var(--bg-cinza);
    background-color: var(--azul-escuro);
}
main{
    flex: 1;
    background-color: var(--bg-cinza);
}

footer{
    background-color: var(--bg-cinza);
    background-color: var(--azul-escuro);
}

.subtitulos{
    color: var(--azul-escuro);
    font-size: 1.7rem;
    font-weight: 500;
}

#dark-screen{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 3;
    background-color: rgba(0, 0, 0, .6);
    
}









/*header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
    position: relative;
}

#header-ul > li{
    margin: 0 10px;
    font-size: 1.1rem;
    font-weight: 500;
}

#header-ul > li:last-child{
    display: flex;
    align-items: center;
    font-size: 14px;
}

#header-input{
    border: none;
    border-radius: 5px;
    outline-color: var(--cor-link);
    margin-right: 0.3rem;
    width: 15rem;
    padding-left: .3rem;
}

#header-input:focus{
    background-color: #d6eeff;
}

#header-ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

header a{
    color: var(--amarelo);
    text-decoration: none;
}

header h1 a:hover{
    color: var(--amarelo);
}

header a:hover{
    color: var(--bg-cinza);
}

#header-ul > li:hover{
    text-shadow: 2px 2px 5px --amarelo;
}

#header-ul img:hover{
    cursor: pointer;
}

header > img {
    position: absolute;
    height: 85%;
    left: 14.5rem;
    object-fit: cover;
    
}









/*main*/
main{
    padding: 5vh 1vw 5vh 2vw;
    
}


#content{
    position: absolute;
    z-index: 2;
    display: flex;
    width: 100%;
    height: 100%;
}

#div-texts, #div-form{
    width: 50%;
    z-index: 1;
    
}

#div-texts{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#div-texts p{
    background-color: var(--cor-link);
    border-radius: 10px;
    margin: 0 8rem;
    padding: .5rem .5rem;
    margin-top: .5rem;
    font-size: 1.5rem;
    color: var(--bg-cinza);
    font-weight: 400;
}


#text{
    font-size: 3rem;
    color: var(--bg-cinza);
    font-weight: 500;
    text-shadow: 2px 2px 5px rgba(0 , 0, 0, .5);
    
}


.to-form-button{
    width: 15rem;
    border: none;
    margin-bottom: .8rem !important;
    border-radius: 5px !important;
    font-size: 1.5rem !important;
    padding: 0 .5rem !important;
    background-color: var(--cor-link) !important; 
    color: var(--bg-cinza) !important;
}

.to-form-button:hover{
    background-color: #3a89ff !important;
}


#div-sup{
    height: 50rem;
    position: relative;
    margin-bottom: 3rem;
}

#bg-image{
    border: 3px dashed rgb(0, 174, 255);
    background-image: url(https://facilbrasil.com/wp-content/uploads/2018/11/SAC-Fa%CC%81cil-Brasil.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: saturate(60%) blur(4px);
    position: absolute;
    width: 100%;
    height: 100%;
}

#div-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

#form{
    background-color: var(--cor-link);
    margin: 0 auto;
    width: 28rem;
    height:48rem;
    padding: 1rem 3rem;
    border-radius: 5px;
    color: var(--bg-cinza);
    position: relative;
    
}

#div-form ul{
    padding: 0;
    margin: 0;
    text-align: center;
    
    border-radius: 5px;
}

#div-form h4{
    color: var(--bg-cinza);
    font-weight: 500;
    font-size: 3rem;
    margin-bottom: 2rem;
    text-shadow: 2px 2px 5px rgba(0 , 0, 0, .5);
}

#form label{
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}

#form input, #form select, #form textarea{
    width: 100%;
    border-radius: 5px;
    padding-left: .3rem;
    border: none;
}

#form textarea{
    resize: none;
    height: 10rem;
}

#form h3{
    text-align: center;
    margin: .5rem 0;
}

#form button:last-child{
    border: 1px solid var(--azul-escuro);
    margin: 0 auto;
    display: block;
    border-radius: 5px;
    padding: .1rem .5rem;
}

#bt-exit-form{
    border: none;
    background-color: rgba(51, 255, 0, 0);
    position: absolute;
    right: 2rem;
    top: 1.5rem;
}

#bt-exit-form img{
    height: 2rem;
}

#map{
    width: 100%;
    border-radius: 5px;
    margin: 0;
}

.endereco, .endereco > p{
    margin: 0;
    color: var(--azul-escuro);
}








/*footer*/
footer{
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns: 34% 33% 33%;
    grid-template-areas: 
    "article1 article2 article3"
    "address address address";
    padding-top: 2rem;
    padding-left: 2vw;
}

footer > article:first-child {
    grid-area: article1;
    
}

footer > article:nth-child(2){
    grid-area: article2;
}

footer > article:nth-child(3) {
    grid-area: article3;
}

footer > address{
    grid-area: address;
    margin: 0;
    text-align: end;
    padding-right: 2vw;
    font-size: .8rem;
    padding-bottom: 1vh;
}

.footer-list{
    padding: 0;
}

.subtitulo-footer{
    color: var(--amarelo);
    font-weight: 500;
}

.article-footer a, .article-footer p, address, address > a {
    color: var(--bg-cinza);
    text-decoration: none;
}

.footer-list a:hover {
    color: var(--amarelo);
}

.article-footer div:first-child{
    margin: 0 auto;
    width: max-content;
}

address a:hover {
    color: var(--amarelo);
}