/*estilização geral*/
*{
    margin: 0;
    padding: 0 ;
    box-sizing: border-box;
    list-style: none;
}

body{
    display: grid;
    grid-template-areas: 
    "header header"
    "main aside"
    "footer footer";
    grid-template-columns: 75vw auto;
    grid-template-rows: 10vh auto 15vh;
    background-color: rgb(202, 131, 39);
}

header{
    grid-area: header;
    background-color: aqua;
}
main{
    grid-area: main;
    border: 1px solid black;
    background-color: blueviolet;
}
aside{
    grid-area: aside;
    background-color: chartreuse;
}
footer{
    grid-area: footer;
    background-color: rgb(255, 174, 0);
}





/*header*/
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 35px;
}


#header-ul > li{
    margin: 0 10px;
}

#header-ul > li:last-child{
    display: flex;
    align-items: center;
}

#header-input{
    border-radius: 5px;
}

#header-ul a, h1 > a {
    text-decoration: none;
}

#header-ul{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    border: 1px solid;
}




/*main*/
main{
    padding: 5vh 1vw 5vh 2vw;
}


#section-segmentos .subtitulos, #section-solucoes .subtitulos{
    margin-bottom: 20px;
}




/*main section quem*/
#section-quem{
    margin-bottom: 35px;
}


/*main section segmentos*/
#section-segmentos{
    margin-bottom: 35px;
}


.lista-segmentos{
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.segmento{
    border-radius: 5px;
    border: 1px solid red;
    width: 150px;
    height: 3rem;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*main section solucoes*/
#container-solucoes{
    display: flex;
    justify-content: space-between;
}

#container-solucoes .card-body{
    text-align: center;
}

.bloco-solucao{
    border: 1px dashed red;
    width: 15vw;
    height: 40vh;
}

.bloco-solucao > div {
    width: 100% !important;
    height: 100%;
}








/*aside*/

aside .subtitulos{
    text-align: center;
    margin-top: 10px;
}

#container-newsletter{
    border: 1px solid red;
    display: flex;
    flex-direction: column;
}


.col-md-4 img{
    height: 100%;
    object-fit: cover;
}

.mb-3{
    border: 1px solid rgb(0, 255, 64);
}
